# types de fichiers
__pycache__/
.env
node_modules/
*.log

# dossier
.claude/
venv_trash/
docs/
data/
thesis/
venv/
checkpoints/

# fichiers
resume_fr.md
CLAUDE.md
implementation_plan.md
*.rar
image.pdf
Questions.md
explain.md
ensemble_du_projet.md
experiments_log.md
"Master 02/"
Master\ 02/
results/